@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>



<p>
    <label for="Username">Brukernavn</label>
    <input type="text" name="Username" />
</p>

<p>
    <label for="Password">Passord</label>
    <input type="text" name="Password" />
</p>
<p>
    <button type="submit">Log in</button>
</p>
