@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        @Html.Partial("_User")
        <div>
            @RenderBody()
        </div>
    </body>
</html>